@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/github-dark.min.css");
@import url("https://esm.sh/v130/monaco-editor@0.41.0/denonext/monaco-editor.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply antialiased bg-background text-foreground;
    font-family: "Epilogue", sans-serif;
  }
}

.monaco-editor,
.overflow-guard {
  border-radius: 0.3rem;
}

.overflow-guard {
  @apply border-2 border-zinc-200 dark:border-zinc-700;
}

::selection {
  background-color: #47dff3;
  color: #2d2d2d;
}

pre code.hljs {
  padding: 0px;
}

.rehype-code-title {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: ui-monospace, monospace;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  border-width: 1px;
  border-bottom-width: 0px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-color: var(--tw-prose-pre-bg);
  background-color: rgb(24 24 27 / 1);
}

.rehype-code-title + pre {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.prose .anchor {
  position: absolute;
  visibility: hidden;
  text-decoration-line: none;
  transition-delay: 50ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  margin-left: -1.2em;
  padding-right: 0.3rem;
  cursor: pointer;
}

.anchor:hover {
  visibility: visible;
}

.prose a {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.prose .anchor:after {
  content: "#";
  color: rgb(165, 165, 165);
}

.prose *:hover > .anchor {
  visibility: visible;
}

.task-list-item {
  line-height: 1.2rem;
}

.task-list-item input[type="checkbox"] {
  visibility: hidden;
  margin-right: 0.5rem;
}

.task-list-item input[type="checkbox"]:before {
  visibility: visible;
  content: "⬜️";
}

.task-list-item input[type="checkbox"]:checked:before {
  content: "✅️";
}
