@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://esm.sh/v130/monaco-editor@0.41.0/denonext/monaco-editor.css");

html,
body {
  font-family: "Lato", sans-serif;
}

.monaco-editor,
.overflow-guard {
  border-radius: 0.3rem;
}

.overflow-guard {
  border: 2px solid #1b1d2b;
}
